@font-face {
  font-family: 'Hammersmith One';
  font-style: normal;
  font-weight: 400;
  src: local('Hammersmith One'), local('HammersmithOne'), url(FWNn6ITYqL6or7ZTmBxRhiJccsb45t3MJKcv5BJtrIs.woff2) format('woff2');
}
